extends /templates/_layouts/default.pug

block data
  - metaTitle = "Drop-down"

block styles
  link(href="./drop-down.css", rel="stylesheet")
  style.
    body {
      min-height: 100vh;
    }

block content
  .container.mx-auto.py-8
    nav.menu
      ul.flex.flex-wrap
        li.w-auto.mr-2
          .cursor-pointer.example-1(class="hover:underline") example 1
          ul.drop-down
            li
              a(href="#some-link-1") some link 1
            li
              a(href="#some-link-2") some link 2
            li
              a(href="#some-link-3") some link 3
        li.w-auto.mr-2
          .cursor-pointer.example-2(class="hover:underline") example 2
          ul.drop-down
            li
              a(href="#some-link-1") some link 1
            li
              a(href="#some-link-2") some link 2
            li
              a(href="#some-link-3") some link 3
  include /templates/_includes/back.pug

block scripts
  script(src=`./index.js` type="module")
  script(type="module").
    import { DropDown } from "./index.js";
    DropDown({ el: document.querySelector(".example-1") });
    DropDown({ el: document.querySelector(".example-2") });