extends /templates/_layouts/default.pug

block data
  - metaTitle = "Paginator"

block styles
  link(href="./paginator.css", rel="stylesheet")

block content
  .container.mx-auto.py-8
    .flex.flex-wrap
      each item in paginate
        .paginate.border.p-2.w-auto.mr-2
          p=item.text
          //- hr.my-2
          //- each cat in item.categories
          //-   a.block(href="?category=" + category[cat] + "").text-xs.font-bold.uppercase=category[cat]
    .paginator
  include /templates/_includes/back.pug

block scripts
  script(src=`./index.js` type="module")
  script(type="module").
    import { Paginator } from "./index.js";
    Paginator({ el: document.querySelector(".paginator"), items: document.querySelectorAll(".paginate"), perPage: 2 });

