.container.mx-auto
  p.mb-0
    i Github @&nbsp;
      a(href="https://github.com/simboonlong/components", target="_blank", rel="noopener noreferrer") Components.
  p
    i Author &copy;&nbsp;
      a(href="http://simboonlong.com", target="_blank", rel="noopener noreferrer") Sim Boon Long.
