$overlay-box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08) !default;
$overlay-background-color: rgba(0, 0, 0, 0.4) !default;
$overlay-card-background-color: #fff !default;
$overlay-card-color: inherit !default;
$overlay-card-max-width: 900px !default;
$overlay-card-max-height: 600px !default;
$overlay-card-border-radius: 8px !default;
$overlay-cancel-color: currentColor !default;
$overlay-cancel-size: 24px !default;

:root {
  --overlay-box-shadow: #{$overlay-box-shadow};
  --overlay-background-color: #{$overlay-background-color};
  --overlay-card-background-color: #{$overlay-card-background-color};
  --overlay-card-color: #{$overlay-card-color};
  --overlay-card-max-width: #{$overlay-card-max-width};
  --overlay-card-max-height: #{$overlay-card-max-height};
  --overlay-card-border-radius: #{$overlay-card-border-radius};
  --overlay-cancel-color: #{$overlay-cancel-color};
  --overlay-cancel-size: #{$overlay-cancel-size};
}

.overlay {
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;

  &.is-active {
    opacity: 1;
    visibility: visible;

    .overlay-card {
      transform: scale(1);
    }
  }
}

.overlay-background {
  background-color: var(--overlay-background-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.overlay-card {
  transition: transform 0.3s ease-out;
  transform: scale(0.95);

  background-color: var(--overlay-card-background-color);
  color: var(--overlay-card-color);
  box-shadow: var(--overlay-box-shadow);
  border-radius: var(--overlay-card-border-radius);
  max-width: var(--overlay-card-max-width);
  max-height: var(--overlay-card-max-height);
  margin: 16px;
  padding: 16px;
}

.overlay-overflow {
  position: relative;
  overflow: auto;
  overscroll-behavior: contain;
}

.overlay-content {
}

.overlay-cancel {
  color: var(--overlay-cancel-color);
  width: var(--overlay-cancel-size);
  height: var(--overlay-cancel-size);
  display: block;
  cursor: pointer;
  position: sticky;
  top: 0;
  margin-left: auto;
}
