extends /templates/_layouts/default.pug

block content
  .container.mx-auto.py-8
    .flex.flex-wrap.items-center
      .w-16.mr-6
        img.w-full(src="./images/components.svg", alt="components")
      .flex-grow
        h1.text-4xl.font-semibold Components
        p.text-xl.font-medium Handcrafted components that might be of use.
    hr.my-8
    section.max-w-lg.mb-8
      a.block.my-2.text-xl(href="./drop-down/") Drop-down
      ul.list-disc.pl-4
        li Simple drop-down list.
    section.max-w-lg.mb-8
      a.block.my-2.text-xl(href="./news-ticker/") News Ticker
      ul.list-disc.pl-4
        li Text-based display for announcements.
    section.max-w-lg.mb-8
      a.block.my-2.text-xl(href="./overlay/") Overlay
      ul.list-disc.pl-4
        li Overlay, lightbox, modal, dialog or whatever you call it.
    section.max-w-lg.mb-8
      a.block.my-2.text-xl(href="./paginator/") Paginator
      ul.list-disc.pl-4
        li Basic pagination with URL params.

block footer
  footer.flex-shrink-0.py-5
    include /templates/_includes/footer.pug